<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <input #input type="text" placeholder="Filter by owner" (input)="searchOwner = $event.target.value">
        <input #input type="text" placeholder="Filter by id" (input)="searchID = $event.target.value">
        <input #input type="text" placeholder="Filter by body" (input)="targetBody = $event.target.value">
        <input #ref type="checkbox" name="complete"  value="true" (input)="searchStatus = $event.target.value"> complete
        <input #ref type="checkbox" name="incomplete" value="false" (input)="searchStatus = $event.target.value"> incomplete
        <input #input type="text" placeholder="Filter by category" (input)="sCategory = $event.target.value">
    </li>

    <li class="list-group-item list-group-item-info">ToDo</li>

    <li *ngFor="let todo of todos | async | filterBy: {owner: searchOwner} | filterBy: {_id: searchID} |
    filterBy: {body: targetBody} | filterBy: {status: searchStatus} | filterBy: {category: sCategory}" class="list-group-item">
        {{ todo._id }} <br>
        {{ todo.owner }} <br>
        {{ todo.status }} <br>
        {{ todo.body }} <br>
        {{ todo.category}} <br>
    </li>
</ul>